body
{
    background-color: rgb(190, 190, 190);
}

.bar
{
    width: 300px;
    height: 570px;
    background-color: rgb(255, 255, 255);
    border-radius: 30px;
    margin-left: 10px;
    margin-top: 10px;
    display: inline-flex;
    flex-direction: column;
    align-items: center;   
}

.logo
{
    width: 220px;
    height: 200px;
}

.inbar
{
    display: inline-flex;
    flex-direction: column;
    margin-top: 40px;
}

.btn
{
    width: 200px;
    height: 40px;
    border-radius: 20px;
    border: 1px solid black;
    background-color: blue;
    font-weight: bold;
    font-size: medium;
    color: white;
    margin-top: 25px;
    cursor: pointer;
}

.btn
{
    transition: box-shadow 0.2s ease-in-out; /* Adjust the transition duration as needed */
}
.btn:hover 
{
    box-shadow: 0px 0px 8px 8px rgba(0, 0, 255, 0.4);
}

/* <sideBar Code Complete*/

/* NavBar Code Start from here*/

.Navbar
{
    width: 950px;
    height: 70px;
    background-color: white;
    border-radius: 20px;
    display: inline-flex;
    position: absolute;
    margin-left: 30px;
    margin-top: 10px;
    padding-inline-start: 20px;
    align-items: center;
    justify-content: space-between;
}

#heading {
    font-size: 30px; /* Adjust font size for better visibility */
    font-family: Arial, Helvetica, sans-serif;
    margin: 0; /* Reset default margin */
    margin-left: 330px;
}

#Logout
{
    width: 90px;
    height: 35px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: blue;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-right: 30px;
    font-weight: bold;
    font-size: 15px;
    color: white;
    cursor: pointer;
}

/* Navbar code Complete */

#stats
{
    display: inline-flex;
    position: absolute;
    width: 970px;
    height: 480px;
    background-color: white;
    border-radius: 30px;
    margin-left: 30px;
    justify-content: center;
    margin-top: 100px;
    flex-direction: column;
    align-items: center;
    
}

#tsk_sts
{
    font-size: 60px;
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.t_detail
{
    width: 950px;
    height: 300px;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    /* margin-top: 30px; */
    align-items: center;
}

.t_count
{
    width: 900px;
    height: 70px;
    background-color: #d3d3d3;
    border-radius: 20px;
    display: inline-flex;
    align-items: center;
    padding-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
}

#total_box
{
    width: 100px;
    height: 50px;
    background-color: #fffefe;
    border: none;
    border-radius: 20px;
    margin-left: 615px;
    color: blue;
}

#pending_box
{
    width: 100px;
    height: 50px;
    background-color: #fffefe;
    border: none;
    border-radius: 20px;
    margin-left: 568px;
    color: blue;
}

#complete_box
{
    width: 100px;
    height: 50px;
    background-color: #fffefe;
    border: none;
    border-radius: 20px;
    margin-left: 550px;
    color: blue;
}




